html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.small-word {
    font-size: 22px;
    font-weight: normal;
}

.container {
    max-width: 800px;
    margin: 25px auto;
    min-height: calc(100% - 100px);
    position: relative;
    padding: 30px 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.header,
.main-content {
    font-family: 'Dongle', sans-serif;
    padding: 20px 0;
    font-size: 30px;
    /* Adjust this value to your desired size */
}

.home-button {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.home-button:hover {
    background-color: #f1f1f1;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 20px 0px;
    background-color: #f7f7f7;
}

.contact-footer {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    background-color: #e7e7e7;
    border-top: 1px solid #ccc;
}

.contact-footer p {
    margin: 0;
    padding: 15px;
}



h1 {
    font-size: 72px;
    margin: 0;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h1 a {
    color: #333;
    text-decoration: none;
}

h1 a:hover {
    color: #a8a8a8;
}

p {
    font-size: 28px;
    margin: 0;
    padding-top: 20px;
    color: #333;
    text-align: center;
}

p1 {
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    color: #333;
    text-align: center;
}

.quiz-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-right: 10px;
    color: #333;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    font-size: 20px;
    background-color: #7CDF60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #3DA042;
}

#result {
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}

.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
    font-weight: bold;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.cpng {
    font-size: 12px;
    color: #777;
}

/* Media queries for mobile devices */
@media (max-width: 600px) {
    .contact-footer {
        padding: 15px;
        font-size: 16px;
    }

    .container {
        max-width: 100%;
        padding: 12px;
    }

    .header,
    .main-content {
        padding: 10px;
        /* Adjust this value to your desired size */
    }

    h1 {
        font-size: 36px;
        padding-bottom: 10px;
    }

    p {
        font-size: 24px;
    }

    p1 {
        font-size: 12px;
    }

    .quiz-image {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .options {
        flex-direction: column;
    }

    label {
        font-size: 18px;
        margin-right: 5px;
    }

    .submit-button {
        font-size: 18px;
        text-align: center;
        padding: 5px 10px;
        margin: 10px;
    }

    #result {
        font-size: 20px;
        margin-top: 10px;
    }

    /* Adjust footer font size on mobile devices */
    .container .footer {
        font-size: 12px;
    }

    .cpng {
        font-size: 12px;
        color: #777;
    }
}